<div class="navbar nav">
    <div class="navbar-inner">
        <a class="brand" href="#">GoMin</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
    </div>
</div>