<div id='fshare' class="fb-share-button" style="position: fixed !important;z-index: 99;right: 149px;top: 9px;" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>

<!--
<a id='fshare2' href="https://twitter.com/share"  class="twitter-share-button" data-url="http://gmail.com" data-text="GoMin- Fly hign @ minimum cost!" data-size="large" data-count="none" data-hashtags="GoMin">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->

<div class="section row-fluid  content" style="background-size:cover;background-image: url('../../img/bg3.jpg') ">
    <h1 style="color:#fff">GoMin</h1>
    <div class="col-md-4 col-md-offset-4 panel panel-default" >
        <div class="panel-body">
            <form class="form-inline" role="form">
                <button type="input" class="btn btn-info ">SignUp</button>
                <br><div>-------or -------</div>
                <div class="form-group">

                    <input type="email" class="form-control " id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control  " id="inputPassword" placeholder="Password">
                </div>
               <button type="submit" class="btn btn-primary ">Login</button>
                <br><div>-------or -------</div>

                <div  style="margin-top:5px;">
                    <a href="/auth/facebook" ><img src="../../img/f.jpg" height="30px"
                            /> </a><a href="/auth/twitter" ><img src="../../img/t.jpg" height="30px"
                        /> </a><a href="auth/google" ><img src="../../img/g.jpg" height="30px"
                        /> </a></div>
            </form>

        </div>
    </div>

</div>
<div class="section row-fluid content" >
    <div class="slide" style="background-size:cover;background-image: url('../../img/bg9.jpg')">
        <h1 style="color:#fff">Explore Solo</h1>
    </div>
    <div class="slide" style="background-size:cover;background-image: url('../../img/bg6.jpg')">
        <h1 style="color:#fff">Take a friend along</h1>
    </div>
    <div class="slide" style="background-size:cover;background-image: url('../../img/bg4.jpg')">
        <h1 style="color:#fff">Or a gang of them</h1>
    </div>
</div>
<div class="section row-fluid content" >
    <div class="slide" style="background-size:cover;background-image: url('../../img/bg2.jpg')">
        <div class="col-md-3 col-md-offset-5 panel panel-default" >
            <div class="panel-body">
                <form>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="source" placeholder="Start your adventure from">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="destination" placeholder="Make memories at">
                    </div>
                    <div class="form-group col-md-12">
                        <div class="pull-left">
                            <label class="pull-left"> Adventure Date </label><br>
                            <input id="startDate" placeholder="Start date">
                        </div>
                        <div class="checkbox"> <label class="pull-left"> <input class="pull-left" type="checkbox" id="isReturn"> Fly me back home too! </label> </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="pull-left"> Your maximum budget </label>
                        <div class="range range-primary pull-left" style="margin-top:0px;">
                            <input type="range" name="range" min="1000" max="10000" value="1000" onchange="rangePrimary.value=value">
                            <output id="rangePrimary">1000</output>
                        </div>
                        <div class="checkbox pull-left"> <label> <input type="checkbox" id="currentMinimum"> Notify details of current minimum </label> </div>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group col-md-12">
                        <a href="#thirdPage/1" class="pull-left">Customize your search</a>
                    </div>
                    <button type="submit" id="startSearch" class="btn btn-primary btn-block col-md-12" style="margin-top:0px;">Submit</button>

                </form>
            </div>
        </div>
    </div>
    <div class="slide" style="background-size:cover;background-image: url('../../img/bg6.jpg')">
        <div class="col-md-3 col-md-offset-5 panel panel-default" >
            <div class="panel-body">
                <form>
                    <div class="form-group col-md-12">
                        <div class="checkbox pull-left"> <label class="text-primary"> <input type="checkbox" id="isHotelRequired"> Find best hotel deals too. </label> </div>
                        <div class="checkbox pull-left"><label class="text-primary"><input type="checkbox" id="isUrgent">   Notify me if seats available due to cancellation. </label>
                            <!-- <label class="text/muted"> We will stay at our toes to fetch any seat that might be available due to a cancellation.</label>-->
                        </div>
                    </div>
                    <button type="submit"  id="startSearch" class="btn btn-primary btn-block" style="margin-top:40px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
